// Add your custom CSS here.
// font
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
em,
small,
p,
big,
strong,
b,
button,
a {
  font-family: "Teko", sans-serif;
}
// menu background
#menu {
  background-image: linear-gradient(#fff, #dcdcdc);
  a {
    color: #000;
    padding: 12px 10px;
    display: flex;
  }
}
// header
.header {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  background-image: url(/img/uploads/fundo-header.png);
  border-bottom: 0;

  &__search-btn .fa-search {
    color: #ca0000;
  }

  @media (min-width: 768px) {
    &__logo {
      max-width: 344px;
    }
    &__row {
      min-height: 80px;
    }
  }

  @media (max-width: 767px) {
    &__toggler-icon {
      color: #ca0000;
    }
    &__buttons img {
      width: 29px;
    }
    #logo-col {
      display: flex;
      justify-content: center;
      img {
        max-width: 175px;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    .menu__item-icon {
      margin-right: 1.75rem;
      img {
        position: relative;
        bottom: 0.65rem;
      }
    }
    h4 {
      margin-bottom: 0;
      font-size: 21px;
    }
  }
}
// full banner
@media (min-width: 768px) {
  .banner-slider {
    max-width: 100%;
    --banner-aspect-ratio: 1 !important;
    height: auto;
  }
}
// footer
.footer {
  background: url(/img/uploads/end.jpg);
  &__title {
    color: #ca0000;
    font-weight: 400;
    font-size: 31px;
    font-family: "Teko", sans-serif;
    text-shadow: 1px 1px 1px #000;
  }
  h4 {
    text-align: justify;
    color: #fff;
    font-size: 15.4px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
#selos_seguranca {
  text-align: right;
  div {
    display: flex;
    justify-content: flex-end;
  }
}
#informacoes h5 {
  color: #ca0000;
  font-weight: 400;
  font-size: 31px;
}
#search-input {
  border-radius: 30px;
}
.top-bar {
  background-color: #d10000;
  * {
    color: #fff;
  }
}
@media (max-width: 992px) {
  #search-bar {
    display: block !important;
    background-color: #d10000;
    #search-form {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}
.top-bar__page-links {
  display: flex;
  > a, .trigger-rastreio, .chat-title {
    font-size: 21px !important;
    font-weight: 300 !important;
  }
}

.menu__social {
  display: flex;
}

.ico-chat a:hover {
  color: #6f0202 !important
}
.product-card__buy {
  // z-index: 99999999 !important;
  button {
    background-color: #53cc65;
    border-color: #53cc65;
    &:hover {
      background-color: #48AD57;
    }
  }
}
.product-card__name {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
.product-card__prices {
  text-align: center;
  color: #ca0000;
}
.products-carousel__title {
  font-size: 45px;
  color: #ca0000;
  &:before {
    background: none;
  }
  & a:hover {
    text-decoration: none !important;
  }
  background: url(/img/uploads/fundo-titulo.png) no-repeat center bottom;
}
.product-card__prices {
  display: flex;
  .prices__value {
    display: none;
  }
  span {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .prices__discount {
      order: -1;
      span {
        font-size: 28px;
      }
      small {
        color: #565658;
        font-size: 12px;
      }
    }
    .prices__installments {
      display: flex;
      justify-content: center;
      color: #525252 !important;
      font-size: 20px;
      span {
        order: 1;
        display: flex;
        padding-left: 5px;
      }
    }
  }
}

.header__nav > ul{
  list-style-type:none;
  display:flex;
  margin:0;
  justify-content:center;
}
.header__nav .dropdown-menu a {
  color: #fff !important
}
.header__nav a:hover {
  background-color: transparent;
  flex-basis: 100%
}

.header__nav > ul > li.dropdown{position:relative;}
.header__nav > ul > li.dropdown .dropdown-menu a{
  color:#fff;
  font-size: 12px;
  padding: 10px 15px;
  text-align: left;
  text-transform: uppercase;
}
.header__nav > ul > li.dropdown .dropdown-menu{
  margin: 0px 0 0 0;
  border-radius: 0;
  background: #393939;
  box-shadow: unset;
  outline: none;
  padding: 0;
}
.header__nav > ul > li.dropdown:hover .dropdown-menu{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap !important;
  flex-basis: 100%;
}
#menu-mega {
.col-12 {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap !important;
  flex-basis: 100%;
}
li {
  background: #393939;
}
}
.products-carousel__title a::after {
  content: ' + Ver mais';
  padding:  0.5rem;
  color: #000;
  font-weight: 400;
  font-size: 19px;
  text-transform: uppercase;
}
.footer {
  .order-lg-first h4, .footer__links a, &__contacts ul li, &__contacts ul li a, &__credits span {
    font-family: 'Montserrat', sans-serif;
    color: #fff
  }

} 
.breadcrumb-item a {
  color: #777
}
.product {
  &__name {
    font-weight: 400;
    color: #151515;
    font-family: 'Montserrat',sans-serif;
    font-size: 21px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
  }
  &__prices {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
    .prices__value {
      font-size: 28px;
      letter-spacing: -1px;
      color: #464646;
      + span {
        display: flex;
        flex-direction: column;
        .prices__installments {
          font-size: 17px;
          color: #38b3a3;
          font-weight: 700;
        }
        .prices__discount {
          order: -1;
          span {
            font-size: 28px;
            color: #38b3a3;
          }
          small {
            &::before {
              content: "(-5%)";
              font-size: 14px;
              color: #547980;
            }
          }
        }
      }
    }
  } 
  &__sku {
    
  }
}
.page--products {
  h1, h2, h3, h4, h5, h6, span, strong, b, small, p{
    font-family: 'Montserrat',sans-serif !important;
  }
  .product__buy button {
    border-color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 0 1px 1px #092738;
    border-radius: 0;
    color: #fff;
    letter-spacing: 2px;
    background-color: #6ed88b;
    border: none;
    border-bottom: 3px solid #4b9960;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  .product__payment.card {
    background-color: #ebebeb;
  }
}

.page .content-page {
  background-color: #f5f5f5;
  padding: 15px;
}

//fwr
// .product-card {
//   pointer-events: auto;
//   cursor: pointer;
//   //background: url(https://cdn.ecvol.com/s/www.pontualgames.com.br/uploads/desconto-vista.jpg) no-repeat center bottom;
//   &:hover::after {
//     content:" ";
//     width:100%;
//     border:solid 2px #000;
//     height:100%;
//     background:rgba(255,255,255,.5);
//     background-image:url(/img/uploads/comprar-agora3.png);
//     background-position:center 50%;
//     background-repeat:no-repeat;
//     border-radius:0;
//     position: absolute;
//     left:0;
//     top:0;
//     pointer-events: auto;
//     cursor: pointer;
//   }
// }
#cart-button i::before {
  content: " ";
  background-image: url(/img/uploads/carrinho-de-compras.png);
  display: block;
  position: relative;
  width: 100%;
}

.form-rastreio {
  background: #fff;
  border: solid 1px #d4d5d6;
  position: absolute;
  top: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  min-width: 295px;
  left: -90px;
  min-height: 135px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
}
.trigger-rastreio {
  cursor: pointer;
}
.form-rastreio span {
  color: #000;
  font-size: 16px;
  display: block;
  margin: 10px 0;
  font-family: inherit;
}
.form-rastreio input {
  width: 100%;
  padding: 0 10px;
  height: 48px;
  background: #fff;
  border: solid 1px #e0e0e0;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  border-radius: 0;
  margin-bottom: 0;
  color: #4d4d4d;
}
.form-rastreio button {
  position: absolute;
  right: 10px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  padding: 0;
  background: 0 0;
  border: none;
}
.form-rastreio button i {
  color: #4d4d4d;
  margin-right: 10px;
}
.rastreio:hover .form-rastreio {
  visibility: visible !important;
  opacity: 1 !important;
}
.wrapper .tooltip {
  background: #fff;
  text-align: center;
  top: 110%;
  right: 0;
  font-size: 14px;
  color: #ca0000 !important;
  font-weight: 700;
  display: block;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.wrapper .tooltip a:hover {
  color: #ca0000;
}
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #ededed 10px;
  top: -10px;
  content: " ";
  height: 0;
  left: 66%;
  margin-left: 14px;
  position: absolute;
  width: 0;
}
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.wrapper {
  z-index: 2000;
  cursor: help;
  color: #312655;
  position: relative;
  text-align: center;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}
.telefone {
  font-size: 16px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  color: #424242;
  font-family: "Teko", sans-serif;
}
.tel {
  font-size: 10px;
  color: #5a5a5a;
  font-weight: 300;
  font-family: "Montserrat", serif;
}
.num {
  display: block;
  margin-top: -12px;
  font-size: 21px;
  color: #cb0101;
  font-weight: 500;
  font-family: "Teko", sans-serif;
}
.divider {
  height: 0;
  margin: 9px 1px;
  overflow: hidden;
  border-bottom: 1px solid #5a5a5a;
}
.emailt {
  margin-top: 0;
  font-size: 16px;
  color: #424242;
  font-weight: 500;
  font-family: "Teko", sans-serif;
}
.emailp {
  font-size: 20px;
  font-weight: 400;
  color: #cb0101;
  padding: 0;
  margin-top: -6px;
  font-family: "Teko", sans-serif;
}
.duvidas {
  margin-top: 0;
  font-size: 16px;
  color: #2d2d2d;
  font-weight: 500;
  font-family: "Teko", sans-serif;
}
.faleconoscotop a {
  font-size: 17px;
  font-weight: 500;
  color: #cb0101;
  padding: 0;
  margin-top: -11px;
  font-family: "Teko", sans-serif;
}
//fim fwr
