// Add your custom CSS here.
// font
body, h1, h2, h3, h4, h5, h6, span, em, small, p, big, strong, b, button, a {
  font-family: 'Teko', sans-serif;
}
// menu background
#menu {
  background-image: linear-gradient(#fff, #dcdcdc);
  a {
    color: #000;
    padding: 10px 7px;
  }
}
// header
.header {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  &__nav {
    .menu__item-icon {
      img {
        margin-bottom: 1rem;
      }
    }
  }
}
// full banner
@media(min-width: 768px) {
  .banner-slider {
      max-width: 100%;
      --banner-aspect-ratio: 1!important;
      height: auto;
  }
}
