// Add your custom CSS here.
// menu background
#menu {
  background-image: linear-gradient(#fff, #dcdcdc);
  a {
    color: #000;
    padding: 10px 7px;
  }
}
// header
.header {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}
// full banner
@media(min-width: 768px) {
  .banner-slider {
      max-width: 100%;
      --banner-aspect-ratio: 1!important;
      height: auto;
  }
}
